body{
    background-color: mistyrose;
}

#header{ 
    color: royalblue;
    text-align:center;

}
#upload{
    padding: 10px 10px 10px 100px;
    float :left;
}
#posts{
    float:right;    
    padding: 10px 300px 10px 10px;
}




